<section>
    <div class="delivery-container">
        <h2>Entregar Inventario</h2>

        <div class="item" *ngFor="let product of productTypes">
            <h3>{{product.name}}</h3>
            <p>{{product.serial}}</p>
            <button class="deliver-btn" (click)="onButtonClick()" [disabled]="product.status !== 'PENDING'" 
            [ngClass]="{'green-background': product.status !== 'PENDING'}">
                {{ product.status === 'PENDING' ? 'Enviar' : 'Enviado' }}
            </button>
        </div>
    </div>
</section>