<section>
    <div class="container">
        <h1>Tipos de Productos</h1>
        <form id="addProductForm" (submit)="onSubmit()">
            <input type="text" id="productName" [(ngModel)]="newProductType" name="productType" placeholder="Nuevo tipo de producto" required>
            <button type="submit">Agregar</button>
        </form>

        <ul>
            <li *ngFor="let product of productTypes">
                <span class="product-name">{{ product.name }}</span>
            </li>
        </ul>
    </div>
</section>